.modal-merge-order{
    p{
        color: #2A2A86;
        font-size: 14px;
        line-height: 18px;
    }
    .ant-alert{
        border: 1px solid #FCAF17;
        border-radius: 8px;
        margin-top: 24px;
        color: #000000;
        size: 14px;
        line-height: 16px;
    }
    .ant-alert>span{
        font-size: 52px;
    }
}

.orderStatus {
    .inner {
        height: 100%;
    }
    .single {
        padding: 10px;
        &:not(:last-child) {
            border-bottom: 1px solid #ddd;
        }
    }
}