// responsive for Fpage
@media screen and (max-width: 700px) {
  :root {
    overflow-x: hidden !important;
    overflow-y: scroll;
  }
  .ant-card-body {
    padding: 0 !important;
  }
  .yd-page-create-update-btn {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #ffffff;
    height: 60px;
    z-index: 4;
    padding: 10px 20px;
    .yd-page-btns {
      display: flex;
      justify-content: space-between;
      .create-button-custom {
        &:hover {
          background-color: #36369e;
          border-color: #36369e;
        }
      }
    }
  }
  .create-button-custom {
    &:hover {
      background-color: #36369e !important;
      border-color: #36369e;
    }
  }
  .ant-card-body {
    padding: 0;
  }
  .ant-card {
    margin-bottom: 0;
  }
  .update-customer-ydpage {
    .ant-form-item {
      flex-direction: column !important;
      margin-bottom: 6px;
    }
  }
  .sale_order_empty_product {
    height: 100%;
  }
  .discount-item-popup {
    width: 100%;
    padding: 10px !important;
    border: 1px solid #d9d9d9;
    border-radius: 5px;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    .title {
      padding: 6px 0 16px 0;
      border-bottom: 1px solid #d9d9d9;
      color: rgba(0, 0, 0, 0.85);
      font-weight: 500;
      font-size: 16px;
      line-height: 22px;
      word-wrap: break-word;
    }
    .discount-group {
      padding: 16px 0;
    }
  }
  .container-login {
    margin-bottom: 200px;
    .login {
      width: 440px !important;
    }
  }
  .ant-select-dropdown {
    z-index: 99999999;
  }
  .ant-modal-mask {
    z-index: 99999999;
  }
  .ant-modal-wrap {
    z-index: 99999999;
  }
  .modal-pick-discount {
    width: 100% !important;
    max-width: 100%;
    padding: 0 12px;
  }
  .change-shipping-address-content {
    width: 100%;
    padding: 0;
  }
  .ant-select-item-option-content {
    white-space: normal;
  }
  .word-break-fpage {
    word-wrap: break-word;
    word-spacing: initial;
  }
  .ant-popover-inner-content {
    padding: 0;
  }
  .ant-popover {
    width: 100%;
    padding: 0 12px;
    // .ant-popover-content {
    //   width: 100%;
    // }
  }
  .customer-shipping-address {
    padding: 6px 12px;
    border-bottom: 1px solid #d1d1db;
    &:hover {
      background-color: rgba(42, 42, 134, 0.1);
    }
  }

  // tabs header
  .yd-page-admin {
    .yd-page-admin-tabs {
      .ant-tabs-nav-more {
        display: none;
      }
      .ant-tabs-nav {
        position: fixed;
        z-index: 999;
        width: 100%;
        padding: 0;
        height: 42px;
      }
      .ant-tabs-nav-list {
        width: 100%;
      }
      .ant-tabs-tab {
        width: 100%;
        justify-content: center;
        border-bottom: 1px solid #e5e5e5;
        margin: 0;
        padding: 12px 0;
      }
    }

  }

  .padding-lef-right {
    padding: 0 24px 10px 24px;
  }
  .fpage-order-avatar-customer {
    border-radius: 50%;
    background-color: #8f8f8f2e;
    width: 40px;
    height: 40px;
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
  }
  .ant-tabs-nav::before {
    border-bottom: none !important;
  }
  .ant-input-suffix {
    span {
      line-height: 26px;
      padding: 0 4px;
      border-radius: 3px;
      font-weight: 500;
    }
  }
  .fpage-recent-tag {
    width: 100px;
    border-radius: 100px;
  }
  .customer-detail-icon {
    margin-right: 8px;
  }
  .ant-card-extra {
    width: 100%;
  }
  .fpage-order-screen {
    .ant-row {
      margin-bottom: 4px !important;
    }
  }
  .point-spending {
    padding: 0 !important;
  }
  .orders-shipment {
    .radio-container {
      margin-left: 8px !important;
    }
  }
  //.ant-form-item{
  //    margin: 0 0 6px !important;
  //;
  //}
  .fpage-order-email {
    .ant-form-item-control {
      flex: 0 0 100% !important;
    }
  }
  .yd-page-order .footer {
    width: 0 !important;
  }
  .ant-empty {
    margin: 0;
    .ant-empty-image {
      margin: 0;
    }
    .ant-empty-img-simple {
      width: 41px;
    }
  }
  .note-customer {
    .ant-form-item {
      flex-direction: column !important;
    }
  }
  .saleorder_shipment_method_btn {
    justify-content: space-between !important;
    .saleorder_shipment_button {
      padding: 3px 10px;
    }
    .saleorder_shipment_button_active {
    }
  }
  .fpage-discount-select {
    .ant-select-selector {
      border-radius: 5px 0 0 5px !important;
    }
  }
  .create-order-payment .order-cod-payment-footer > span {
    line-height: 20px;
  }
  .ant-layout-header {
    display: none;
  }
  .saleorder-products-modal {
    .ant-modal-body {
      .ant-table-cell:last-child {
        min-width: 50px;
      }
      .ant-table-cell:first-child {
        min-width: 170px;
      }
    }
  }
  .ant-btn:hover,
  .ant-btn:focus {
    //background-color: transparent;
  }
  .fpage-ant-btn-custom {
    border: none !important;
    background: none;
    text-align: center !important;
    padding: 0;
    height: 38px;
  }
  .padding-12 {
    padding: 12px;
  }
  .saleorder-products-modal {
    .ant-table-wrapper {
      padding: 0;
    }
  }
  .ant-input-group-compact {
    display: flex !important;
    :first-child {
      border-top-left-radius: 5px !important;
      border-bottom-left-radius: 5px !important;
    }
    .ant-input-number-input-wrap > input {
      height: 36px;
    }
  }
  .yody-pos-qtt {
    .ant-input {
      text-align: center;
      padding: 0 5px 0 0;
    }
  }
  .ant-layout-content {
    padding: 0;
  }
  .page-header {
    padding: 0;
    height: 0;
  }
  .ant-breadcrumb,
  .ant-layout-sider {
    display: none !important;
  }
  .ant-layout-sider-dark {
    display: none !important;
  }
  .container {
    margin-left: 0;
  }
  .container.collapsed {
    margin-left: 0;
  }
  .ant-steps {
    display: none !important;
  }
  .header-right {
    display: none !important;
  }
  .ant-card-head {
    padding: 0 !important;
    min-height: 0;
    border: none;
  }
  .ant-card-head-wrapper {
    display: block !important;
    .ant-card-head-title {
      width: 100%;
      padding: 6px 0 0 12px;
    }
    .ant-card-extra {
      width: 100%;
    }
  }

  .order-create-shipment {
    .ant-card-head {
      .ant-card-head-wrapper {
        .ant-card-head-title {
          padding: 6px 0 0 0;
        }
      }
    }
  }

  .ant-select {
    width: 100% !important;
  }
  .ant-table-cell {
    padding: 4px 2px !important;
  }
  .site-input-group-wrapper {
    height: 0;
  }
  .saleorder-product-card-action .saleorder-input-group-wrapper {
    min-height: 0;
    height: 22px;
    .anticon-down:hover {
      color: #2a2a86;
    }
  }
  .yd-page-order-discount-modal {
    .ant-form-item-control {
      flex: 0 0 100% !important;
    }
    .ant-select {
      width: 30% !important;
    }
    .ant-input-number {
      width: 70% !important;
    }
    .ant-input-group {
      display: block;
    }
  }
  .sale-product-box-table {
    .ant-input {
      padding: 0;
      text-align: center !important;
    }
    .ant-input-number-input {
      padding: 0;
    }
    .ant-select-selector {
      padding: 0 !important;
    }
  }
  #ct-container {
    top: 50px !important;
    z-index: 999999999;
  }
  .ant-form-item {
    flex-direction: row !important;
    margin-bottom: 8px;
  }

  .ant-form-item.form-input-deliver {
    flex-direction: column !important;
  }

  .ant-form-item-control {
    width: 100%;
    flex: 0 0 70% !important;
  }
  .ant-form-item-label {
    width: 100%;
    flex: 0 0 30% !important;
    padding: 0 !important;
    line-height: 0;
    & > label {
      line-height: 14px;
      height: 38px !important;
    }
  }
  .create-order-payment {
    .ant-row {
      margin: 0;
    }
    .ant-form-item {
      flex-direction: column !important;
    }
    .ant-radio-group {
      width: 100%;
    }
    .ant-space-align-center {
      display: flex;
      // justify-content: space-between;
      // padding: 0 24px;
    }
    .btn-list-method {
      padding: 0;
      justify-content: space-between;
      .ant-btn {
        // padding: 10px 20px !important;
        // margin-top: 5px;
        // width: 190px;
      }
    }
  }
  .order-source-selected {
    flex-direction: column !important;
  }
  .ant {
    &-btn-lg {
      padding-top: 4px;
      padding-bottom: 4px;
      height: 38px;
      margin-right: 0;
    }
    &-radio-inner {
      width: 18px;
      height: 18px;
      border: 1px solid #2a2a86;
      &::after {
        background-color: #2a2a86;
        width: 10px;
        height: 10px;
      }
    }
    &-radio-checked {
      &::after {
        border: 1px solid #2a2a86;
      }
    }
  }
  .ant-radio:hover .ant-radio-inner {
    border: 1px solid #2a2a86;
  }
  .ant-radio-input:focus + .ant-radio-inner,
  .ant-radio-wrapper:hover .ant-radio,
  .ant-radio:hover .ant-radio-inner {
    border-color: #2a2a86;
  }

	.update-shipping {
		.ant-form-item {
			.ant-form-item-label {
				display: none;
			}
			.ant-form-item-control {
				flex: 1 !important;
			}
		}
	}
}

.yd-page-customer-relationship {
  .ant-tabs > .ant-tabs-nav {
    margin-bottom: 0;
    padding: 0;
    height: 42px;
  }
  .ant-tabs-tabpane > div {
    margin-top: 42px !important;
  }
  padding-bottom: 100px;
  .fpage-customer-head-btn {
    z-index: 9999;
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
    display: flex;
    justify-content: space-between;
    background-color: white;
    .fpage-customer-btn {
      text-align: center;
      width: 100%;
      cursor: pointer;
      border-bottom: 1px solid #e5e5e5;
      padding: 16px;
    }
    .fpage-btn-active {
      border-bottom: 2px solid #2a2a86;
      color: #2a2a86;
      font-weight: 500;
    }
  }
  .ant-divider-horizontal {
    margin: 0;
    border-top: 1px solid #e5e5e5;
  }
  .customer-bottom-button {
    padding: 0 20px;
    right: 0;
    .ant-btn {
      width: 200px;
    }
  }
  .customer-field-label {
    font-weight: 500;
  }
}

.yd-page-order {
  .ant-space-horizontal {
    width: 100%;
    justify-content: space-between;
    .ant-form-item {
      justify-content: flex-end;
    }
  }
  .card-body {
    padding: 12px 24px;
  }
  .product {
    .ant-card-head {
      margin-top: 10px;
    }
    .select-price-type {
      margin: 0;
      width: 130px;
    }
    .product-content {
      padding: 12px 24px 0;
    }
    .product-payment {
      padding: 12px 24px;
      .payment-style {
        justify-content: space-between;
      }
    }
  }
  .product-table {
    .total-text {
      width: 40%;
      float: left;
      font-weight: 500;
      font-style: italic;
    }
    .total-value-1 {
      width: 40%;
      text-align: center;
      font-weight: 500;
    }
    .total-value-2 {
      width: 40%;
      text-align: center;
      color: red;
      font-weight: 500;
    }
  }
  .payment-style {
    justify-content: space-between;
  }
  .note-input {
    min-height: 130px;
  }
  .footer {
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 80%;
    height: 55px;
    bottom: 0;
    margin: 10px -12px 5px -12px;
    background-color: #ffffff;
    z-index: 99999;
    .order-step {
      padding: 3px;
      margin-left: -20px;
      margin-top: 3px;
    }
    .order-button {
      display: flex;
      justify-content: space-between;
      height: 100%;
      box-shadow: 0px -1px 8px rgba(0, 0, 0, 0.1);
      align-items: center;
      padding: 0 32px;
      background-color: white;
      &-width {
        width: 45%;
      }
    }
  }
}

.add-new-item-dropdown {
  display: flex;
  min-height: 42px;
  line-height: 50px;
  cursor: pointer;
  .search-icon {
    margin-left: 20px;
  }
  .text {
    margin-left: 20px;
  }
}

@media screen and (max-width: 500px) {
  .create-order-payment {
    .btn-list-method {
      .ant-btn {
        // padding: 10px 20px !important;
        // margin-top: 5px;
        // width: 162px;
      }
    }
  }
}
