@import "assets/css/variable";
.purchase-order-list {
  .txt-muted {
    color: $text-muted;
  }
  .icon {
    @mixin round {
      display: inline-block;
      width: 12px;
      height: 12px;
      border-radius: 50%;
      border-color: $green;
      border-width: 1px;
      border-style: solid;
    }

    &-full {
      @include round;
      background-color: $green;
    }
    &-partial {
      @include round;
      background-image: linear-gradient(to right, $green 50%, $white 50%);
    }
    &-blank {
      @include round;
      background-color: $white;
    }
  }
  .tag-custom {
    width: 120px;
    text-align: center;
    white-space: unset;
  }
}
// .ant-form-inline{
//   flex-wrap: nowrap;
// }

.group-filter {
  display: flex;
  width: 100%;
  padding-bottom: 20px;
  justify-content: space-between;
  .search {
    width: 60%;
    min-width: 250px;
  }
  .ant-form-item:last-child {
    margin-right: 0;
  }
  .ant-form-item {
    flex: auto;
  }
}

