hr {
  margin: 18px 0;
  border-bottom: 1px solid #E5E5E5;
  border-top: none;
}

.anticon-info-circle {
  svg {
    cursor: pointer;
    color: #2d9cdb;
  }
}

.card {
  .status-tag {
    margin-left: 10px;
    background-color: #27AE60;
    color: #ffffff;
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 6px;
  }
}

.card-discount-code {
  cursor: pointer;
  background-color: #F5F5F5;
  border-radius: 10px;
  width: 100%;
  height: 216px;
  padding: 15px 13px;
  display: flex;
  flex-direction: column;
  align-items: center;

  img {
    margin-bottom: 11px;
    border-radius: 50%;
  }
}

.dragger-wrapper {
  width: 100%;
  padding: 10px 30px;
}