.container-overview {
  overflow: auto;
  width: 100%;
  max-height: calc(100vh - 300px);
  position: relative;
}

.header-tree {
  display: flex;
  position: sticky;
  top: 0;
  z-index: 1000;
  background: #FFFFFF;
  div {
    min-width: 240px;
    text-align: center;
    border-bottom: 1px solid #ebebeb;
  }
}

.department-tree {
  display: flex;

  .level-one {
    flex: 0 0 8%;
    cursor: pointer;
    font-weight: 400;
    color: #222222;
  }

  .other-level {
    flex: 0 0 15.2%;
    font-weight: 400;
    color: #222222;
  }

  .department-tree-level-wrapper {
    :hover {
      background: #F0F0FE;
    }

    :hover .icon-detail {
      display: unset !important;
    }
  }

  .mt-38 {
    margin-top: 38px;
  }

  .department-tree-level {
    border-bottom: 1px solid #ebebeb;
    padding: 5px;
    display: flex;
    align-items: center;
    width: 240px;

    .left-content {
      display: flex;
      flex-direction: column;

      .icon-detail {
        margin-left: 10px;
        margin-top: -5px;
        display: none;
      }
    }

    .icon-right {
      margin-top: 3px;
      margin-left: auto;
    }

    .mr-5 {
      margin-right: 5px;
    }
  }

  .level-text {
    font-weight: bold;
    padding: 7px 0;
    box-shadow: 0 2px 0 #e5e5e5;
    background: #f5f5f5;
    text-align: center;
  }
}

.d-none {
  display: none !important;
}

.cursor-p {
  cursor: pointer;
}

.active {
  color: #2a2a86;
  font-weight: 500;
  background: #F0F0FE;
}
