.loyalty-programs-wrapper {
    color: #222222;
    .add-new-btn {
        font-size: 14px;
        line-height: 18px;
        letter-spacing: 0.2px;
        color: #2A2A86;
        padding: 5px 8px;
    }
    .d-flex {
        display: flex;
    }
    .tab-label {
        flex-grow: 1;
    }
    .custom-table .ant-table.ant-table-middle .ant-table-tbody>tr>td:last-child {
        padding: 0;
    }
    .general-setting {
        margin-bottom: 20px;
        .card-header {
            display: flex;
            justify-content: space-between;
        }
        .status {
            display: flex;
            justify-content: space-between;
            width: 260px;
            font-weight: 500;
            font-size: 14px;
            line-height: 16px;
            align-items: center;
            .ant-switch-checked {
                background: #27AE60;
            }
        }
        &__body {
            .conversion-rate {
                .row-label {
                    font-weight: bold;
                    margin-bottom: 12px;
                }
                .conversion-note {
                    align-self: center;
                }
            }
        }
    }
    .redemption-rules {
        margin-top: 20px;
        width: 100%;
        .row-label {
            font-weight: bold;
            margin-bottom: 12px;
        }
        &__table {
            thead {
                border-bottom: solid 2px #e2e2e2;
            }
            tbody {
                background-color: white;
            }
            .rules {
                background: #F5F5F5;
                box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.1);
                width: 100%;
                .condition {
                    padding: 14px 11px;
                    min-width: 150px;
                    min-height: 70px;
                    font-size: 14px;
                    line-height: 16px;
                    border-bottom: solid 1px #e2e2e2;
                    &:first-child {
                        text-align: left;
                        min-width: 300px;
                    }
                }
                .checkbox {
                    text-align: center;
                }
            }
        }
    }
    .save-btn {
        margin-top: 16px;
    }
    .status-col {
        &__ACTIVE {
            color: #27AE60;
        }
        &__INACTIVE {
            color: #E24343;
        }
    }
    .loyalty-programs {
        .priority {
            border-radius: 100px;
            width: 50px;
            height: 20px;
            text-align: center;
            color: white;
            &__VERY_HIGH {
                background-color: #E24343;
            }
            &__LOW {
                background-color: #F5F5F5;
                color: #222222;
            }
        }
    }
}