.ant{

  //Layout
  &-layout{
    width: 100%;
    height: auto;
    min-height: 100%;
    background-color: $background-color;

    &-sider{
      position: fixed;
      left: 0;
      height: 100vh;
      overflow: hidden;
      overflow-y: auto;
      background-color: $background-color;
      padding-right: 14px;
      padding-bottom: 80px;

      &-user{
        position: absolute;
        display: flex;
        height: 80px;
        width: calc(100% - 14px);
        background-color: $white;
        bottom: 0;
        padding-left: 32px;
        align-items: center;
        border-top: 1px solid $background-color-secondary;
        transition: all .2s;
        overflow: hidden;

        .sider-user-info{
          margin-left: 12px;
          margin-right: 20px;
          font-size: 12px;

          p{
            margin: 0;
          }
        }

      }

      &-children{
        background-color: $white;

        .ant{

          &-menu{

            &-sub{
              list-style: circle;

              .ant-menu-inline{
                background-color: #F9F9FB;
              }

              .ant-menu{
                
                &-item{
                  height: 48px;
                  line-height: 48px;
                  margin: 0;
                }
              }
            }

            &-inline{
              
              &-collapsed{
                .ant-menu-item-icon{
                  font-size: 20px !important;
                  vertical-align: middle;
                }
              }
            }

            &-submenu{

              &-title{
                height: 48px !important;

                &:hover{
                  color: $primary-color;

                  a {
                    color: $primary-color;
                  }
                }
              }

              &-active, &-open, &-selected{
                .ant-menu-submenu-title{
                  color: $primary-color;
                  
                  .ant-menu-item-icon {
                    color: $primary-color;
                  }
                }
              }
              &-popup {
                & > .ant-menu {
                  background-color: #F9F9FB;
                }
                .ant-menu-item {
                  
                  .ant-menu-title-content {
                    
                  }
                }
              }
            }

            &-item{
              height: 48px;
              line-height: 48px;

              &:hover{
                color: $primary-color;

                a, .ant-menu-item-icon, .ant-menu-title-content{
                  color: $primary-color;
                }
              }

              &-active{
                a, .ant-menu-item-icon, .ant-menu-title-content{
                  color: $primary-color;
                }
              }

              &-icon{
                font-size: 20px;
                color: #95A1AC;
              }

              &-selected{
                background-color: $background-color !important;
                color: $primary-color;

                a, .ant-menu-item-icon, .ant-menu-title-content{
                  color: $primary-color;
                }

                &::after{
                  content: unset;
                }

                .ant-menu-item-dot{
                  background-color: $primary-color;
                }
              }

              &-dot{
                display: inline-block;
                width: 8px;
                height: 8px;
                border-radius: 50%;
                margin-left: -24px;
                margin-right: 5px;
                min-width: 8px;
                max-width: 8px;
                background-color: #D9D9E4;
              }
            }
          }
        }
      }
    }
  }

  //Button
  &-btn{
    border-radius: $border-radius;
    height: 42px;
    padding: 6px 20px;
    font-weight: 500;
    color: $primary-color;
    border-color: rgba($primary-color, .05);
    background-color: rgba($primary-color, .05);

    &-icon-only{
      width: 42px;
      padding: 6px;
      border-color: rgba(223, 223, 223, 0.2);
      background-color: rgba(223, 223, 223, 0.2);

      &.ant-btn-lg{
        width: 42px;
      }
    }

    &-lg{
      height: 42px;
      padding: 8px 20px;
      font-size: 1em;
    }

    &:hover, &:focus{
      color: $primary-color;
      border-color: rgba($primary-color, .1);
      background-color: rgba($primary-color, .1);
    }

    &-link{
      border-color: transparent;
      background-color: transparent;

      &:hover, &:focus{
        color: $primary-color;
        border-color: transparent;
        background-color: transparent;
      }
    }

    &-primary{
      color: $white;
      background-color: $primary-color;
      border-color: $primary-color;

      &:hover, &:focus{
        background-color: #22226B;
        border-color: #22226B;
        color: $white;
      }
    }

    &-dangerous{
      color: $red;
      border-color: $red;
      background-color: transparent;

      &:hover, &:focus{
        border-color: $red;
        color: $red;
        background-color: transparent;
      }

      &.ant-btn-primary{
        background-color: $red;
        color: $white;
      }
    }

    &-secondary{
      color: $secondary-color;
      border-color: $secondary-color;
      background-color: transparent;

      &:hover, &:focus{
        border-color: #FF8A00;
        color: #FF8A00;
        background-color: transparent;
      }

      &.ant-btn-primary{
        background-color: $secondary-color;
        color: $white;

        &:hover, &:focus{
          background-color: #FF8A00;
          border-color: #FF8A00;
          color: $white;
        }
      }
    }
  }

  //Card
  &-card{
    border-radius: $border-radius;

    &-collapse{
      .ant-card-head{
        cursor: pointer;
      }

      &.collapsed{
        .ant-card-body{
          height: 0 !important;
          opacity: 0;
          overflow: hidden;
        }
      }
    }

    &-body{
      height: auto;
      opacity: 1;
      padding: 0;
      transition: all .2s;
    }
  }

  //Select
  &-select{

    &:not(.ant-select-customize-input){

      &:hover, &:focus, &.ant-select-focused{
        .ant-select{
          &-selector{
            border-color: rgba(42, 42, 134, 0.6) !important;
            background-color: #EAEAF3 !important;
            box-shadow: unset !important;

            .ant-select-selection{
              &-placeholder{
                color: $primary-color !important;
              }
            }
          }

          .ant-select-arrow{
            color: $primary-color;
          }
        }
      }

      .ant-select{

        &-selector{
          min-height: 42px;
          border-radius: $border-radius;
          padding: 0 16px;

          .ant-select-selection{

            &-search-input{
              height: 42px;
            }

            &-item{
              line-height: 42px;
            }

            &-placeholder{
              color: $label-color;
              line-height: 42px;
            }

          }
        }
      }
    }

    &-multiple{
      .ant-select-selection-search{
        margin: 0;
      }

      .ant-select-selection-item{
        height: 34px;
        border-radius: 3px;
        padding: 0 12px;
        line-height: 34px !important;
      }
    }

    &-focused{
      .ant-select-arrow{
        color: $primary-color;
      }
    }

    &-arrow{
      color: $label-color;
    }

    &-dropdown{
      border-radius: $border-radius/2;
      padding: 10px 0;
      box-shadow: rgba(70, 128, 160, 0.4) 0 0 5px;
    }

    &-item{
      padding: 5px 16px;
      height: 42px;
      line-height: 2em;

      &-option{
        &-selected:not(.ant-select-item-option-disabled){
          color: #2F80ED;
          background-color: transparent;
        }
        &-active:not(.ant-select-item-option-disabled){
          background-color: rgba($background-color-secondary, 0.5);
        }
      }
    }
  }

  //Picker
  &-picker{
    height: 42px;
    border-radius: $border-radius;
    
    &:hover, &-focused{
      box-shadow: unset;
      border-color: rgba(42, 42, 134, 0.6);
    }
  }

  //Tooltip
  &-tooltip{
    &-inner{
      min-height: 25px;
      border-radius: $border-radius/2;
      padding: 3px 20px;
    }
  }

  //Input
  &-input{
    height: 42px;
    padding: 4px 16px;
    border-color: $border-color;
    border-radius: $border-radius;
    color: $label-color;

    &-lg{
      font-size: 1em;
    }

    &:hover, &:focus{
      border-color: $focus-border-color;
      box-shadow: unset;
    }

    &-affix-wrapper{
      padding: 0;
      padding-right: 11px;
      border-color: $border-color;
      border-radius: $border-radius;

      &-focused{
        border-color: $focus-border-color;
      }

      &:hover, &:focus{
        border-color: $focus-border-color;
        box-shadow: unset;
      }

      &:not(&-disabled){

        &:hover, &:focus{
          border-color: $focus-border-color;
          box-shadow: unset;
        }
      }

      .ant-input-prefix{
        margin-left: 10px;
        margin-right: 0;
      }

      & > input.ant-input{
        height: 40px;
        padding: 4px 16px;
      }
      & > .ant-input-prefix + input.ant-input{
        padding-left: 5px;
      }
    }
  }

  //Image
  &-image{

    &-img{
      border-radius: 3px;
    }
  }

  //Tag
  &-tag{
    border-radius: $border-radius/2;
    border-color: $background-color-secondary;
    background-color: $background-color-secondary;
    padding: 2px 8px;

    &-close-icon{
      margin-left: 8px;
    }

    &-remove-all{
      cursor: pointer;
      border-color: rgba($secondary-color, 0.1);
      background-color: rgba($secondary-color, 0.1);
      color: $secondary-color;

      &:hover{
        border-color: rgba($secondary-color, 0.2);
        background-color: rgba($secondary-color, 0.2);
      }
    }
  }

  //Drawer
  &-drawer{
    &-header{
      padding: 28px 32px;
      color: $label-color;
      border-bottom: 0;
    }

    &-body{
      padding: 10px 32px;
    }

    &-footer{
      border-top: 0;
      padding: 10px 32px;
    }
  }

  //Form
  &-form{

    &-vertical{
      .ant-form{
        
      }
    }

    &-item{

      &-label{

        label{
          color: $label-color;

          .ant-form-item-tooltip{
            cursor: pointer;
            color: #2D9CDB;
          }

          &.ant-form-item-required:not(.ant-form-item-required-mark-optional){
            position: relative;
            margin-right: 25px;

            .ant-form-item-tooltip{
              position: absolute;
              right: -27px;
            }

            &::before{
              content: unset;
            }

            &::after{
              position: absolute;
              display: inline-block;
              margin: 0;
              color: #ff4d4f;
              font-size: 14px;
              font-family: SimSun,sans-serif;
              line-height: 24px;
              right: -10px;
              content: "*";
            }
          }
        }
      }
    }
  }

  //Table
  &-table{

    &-selection-column{
      padding-right: 10px !important;
      padding-left: 25px !important;
    }
    
    &-thead{
      & > tr > th{
        color: $label-color;
        background-color: rgba($background-color-secondary, 0.3);

        &::before{
          content: unset !important;
        }
      }
    }

    &-tbody{
      & > tr:nth-child(2n) > td {
        background-color: rgba($background-color-secondary, 0.5);
      }
      & > tr.ant-table-row-selected > td {
        background-color: inherit;
      }
    }
    @for $i from 1 through 5 {
      .ant-table-row-level-#{$i} {
        .ant-table-cell-with-append{
          .text-indent{
            padding-left: $i * 15px;
          }
        }
      }
    }

    .ant-table-cell-with-append{
      display: flex;
      flex-direction: row-reverse;
      justify-content: flex-end;
      align-items: center;

    }
  }

  //Pagination
  &-pagination{

    &-disabled{
      .ant-pagination{
      
        &-item{
          &-link{
            border-color: transparent;
          }
        }
      }
    }

    &-next, &-prev{

      &:hover{
        .ant-pagination{
      
          &-item{
            &-link{
              border-color: transparent;
              background-color: rgba($primary-color, 0.05);
              color: $primary-color;
            }
          }
        }
      }
      .ant-pagination{
        
        &-item{
          &-link{
            border-color: transparent;
            border-radius: 50%;
          }
        }
      }
    }

    &-item{
      border: 0;
      border-radius: 50%;

      &:hover{
        background-color: rgba($primary-color, 0.05);
        a {
          color: $primary-color !important;
        }
      }

      &-active{
        background-color: rgba($primary-color, 0.05);
        a {
          color: $primary-color !important;
        }
      }
      
      a {
        color: #9E9E9E;
      }
    }
  }

  //Modal
  &-modal{

    &-header{
      border-radius: 5px 5px 0 0;
      &-nostyle{
        .ant-modal{
          &-header{
            border-bottom: 0;
          }
          &-title{
            position: relative;
            padding-left: 10px;
            font-size: $font-size-large;

            &::after{
              content: '';
              position: absolute;
              width: 3px;
              height: 100%;
              background-color: #EB5757;
              left: 0;
            }
          }
          &-footer{
            background-color: #FBFBFF;
          }
        }
      }
    }

    &-content{
      border-radius: 5px;
    }

    &-footer{
      border-radius: 0 0 5px 5px;
      box-shadow: 0px -1px 6px rgba(82, 150, 199, 0.25);
    }
  }

  //Switch
  &-switch{
    &-success{

      &.ant-switch-checked{
        background-color: $green;
      }
    }
    &-primary{

      &.ant-switch-checked{
        background-color: $primary-color;
      }
    }
  }

  //Divider
  &-divider{
    &-horizontal{
      &.ant-divider-with-text-left{
        &::before{
          content: unset;
        }
      }
    }

    .ant-divider-inner-text{
      padding-left: 0 !important;
    }
    &-primary{
      .ant-divider-inner-text{
        color: $primary-color;
      }
    }
  }

  //Tabs
  &-tabs{
    border-radius: $border-radius;
    // background-color: $white;
    
    & > &-nav{
      margin-bottom: 0;
    }
    
    &-nav{
      padding: 10px;
      padding-bottom: 0;
      margin-bottom: 0;
      background-color: $white;
      
      &::before{
        border-width: 2px !important;
      }
    }

    &-tab{
      padding: 12px 20px;
      &.ant-tabs-tab-active .ant-tabs-tab-btn{
        color: $primary-color;
      }

      &:hover{
        color: $primary-color;
      }
    }

    &-ink-bar{
      background-color: $primary-color;
      border-radius: 2px;
    }
  }

  //Checkbox
  &-checkbox{
    &-checked{

      &::after{
        border-color: $primary-color;
      }

      .ant-checkbox-inner{
        background-color: $primary-color;
        border-color: $primary-color;
      }

    }

    &-indeterminate{
      .ant-checkbox-inner::after {
        height: 2px;
        background-color: $white;
      }
    }
  }

  //Collapse
  &-collapse{
    &-card{
      border: 0;
      background-color: $white;
      border-radius: $border-radius;

      & > .ant-collapse-item{
        border-radius: 0 0 $border-radius $border-radius;
        border-bottom: 0;
      }

      .ant-collapse-item {
        .ant-collapse-header{
          font-size: 16px;
          font-weight: 500;
          padding-left: 24px;
        }

        &:last-child{
          .ant-collapse-content{
            border-radius: 0 0 $border-radius $border-radius;
          }
        }
        .ant-collapse-content{
          border-top-color: #f0f0f0;
        }
      }
    }
  }
}

.ant-checkbox-input:focus + .ant-checkbox-inner, .ant-checkbox-wrapper:hover .ant-checkbox-inner, .ant-checkbox:hover .ant-checkbox-inner{
  border-color: $primary-color;
}

.ant-input-group.ant-input-group-compact > .ant-cascader-picker:first-child .ant-input, .ant-input-group.ant-input-group-compact > .ant-select-auto-complete:first-child .ant-input, .ant-input-group.ant-input-group-compact > .ant-select:first-child > .ant-select-selector, .ant-input-group.ant-input-group-compact > :first-child {
  border-top-left-radius: $border-radius;
  border-bottom-left-radius: $border-radius;
}
.ant-input-group.ant-input-group-compact > .ant-cascader-picker-focused:last-child .ant-input, .ant-input-group.ant-input-group-compact > .ant-cascader-picker:last-child .ant-input, .ant-input-group.ant-input-group-compact > .ant-select:last-child > .ant-select-selector, .ant-input-group.ant-input-group-compact > :last-child {
  border-top-right-radius: $border-radius;
  border-bottom-right-radius: $border-radius;

  &:is(.ant-select-selector){
    background-color: $background-color-secondary;
  }
}

.ant-menu-submenu{
  .ant-menu-item{
    &:hover{
      color: $primary-color;
      
      a, .ant-menu-item-icon, .ant-menu-title-content{
        color: $primary-color;
      }
    }

    &-active, &-open, &-selected{
      color: $primary-color;
      
      a, .ant-menu-item-icon, .ant-menu-title-content{
        color: $primary-color;
      }
    }
  }
}