$primary-color: #2A2A86;
$secondary-color: #FCAF17;
$background-color: #F3F3F7;
$background-color-secondary: #F4F4F7;
$green: #27AE60;
$red: #E24343;
$white: #ffffff;
$text-body-color: #37394D;
$text-menu-color: #404040;
$label-color: #737373;
$column-header-color:rgba(0, 0, 0, 0.7);
$placeholder-color: #ABB4BD;
$focus-border-color: #2A2A86;
$border-color: #DFDFDF;
$border-secondary-color: #7B61FF;
$border-radius: 5px;
$font-size: 14px;
$font-size-medium: 18px;
$font-size-large: 20px;
$mobile-width: 991px;
$tablet-width: 992px;
$desktop-width: 1400px;
@mixin mobile {
    @media (max-width: #{$mobile-width}) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: #{$desktop-width}) {
        @content;
    }
}