$primary-color: #2A2A86;
$secondary-color: #FCAF17;
$background-color: #F3F3F7;
$background-color-secondary: #F4F4F7;
$green: #27AE60;
$red: #E24343;
$white: #ffffff;
$text-body-color: #37394D;
$text-menu-color: #404040;
$label-color: #737373;
$placeholder-color: #ABB4BD;
$focus-border-color: #2A2A86;
$border-color: #DFDFDF;
$border-secondary-color: #7B61FF;
$border-radius: 6px;
$font-size: 14px;