.threedot-button {
  padding-left: 0px !important ;
}
.text-center {
  text-align: center;
  button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 42px;
    height: 38px;
  }
}
