@import "assets/css/variable";
.promotion-code__search, .discount-code__search {
  .page-filter-right {
    margin-left: 16px;
    width: 100%;
    .ant-space {
      width: 100%;
      &-item {
        width: 100%;
        .ant-form {
          display: flex;
          width: 100%;
          .search {
            flex: 1;
          }
          .status {
            width: 171px;
          }
        }
      }
    }
  }
  .ant-form-item:last-child {
    margin: 0 0px;
  }
  .page-filter {
    padding-top: 0;
  }
  .saleorder-product-card-action > div {
    padding: 0 !important;
  }
}
.modal-show-add-discount {
  .ant-modal-footer {
    display: none;
  }
}

hr {
  margin: 18px 0;
  border-bottom: 1px solid #E5E5E5;
  border-top: none;
}

.anticon-info-circle {
  svg {
    cursor: pointer;
    color: #2d9cdb;
  }
}

.card {
  .status-tag {
    margin-left: 10px;
    background-color: #27AE60;
    color: #ffffff;
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 6px;
    border-radius: 100px;
    padding: 5px 10px;
  }
}

.card-discount-code {
  cursor: pointer;
  background-color: #F5F5F5;
  border-radius: 10px;
  width: 100%;
  padding: 15px 13px;
  display: flex;
  flex-direction: column;
  align-items: center;

  img {
    margin-bottom: 11px;
    border-radius: 50%;
  }
  p {
    text-align: center;
  }
}

.dragger-wrapper {
  width: 100%;
  padding: 10px 30px;
}

#discount_add {
  .ant-input::-webkit-input-placeholder {
    text-transform: initial;
  }

  .ant-input:-moz-placeholder {
      text-transform: initial;
  }

  .ant-input::-moz-placeholder {
      text-transform: initial;
  }

  .ant-input:-ms-input-placeholder {
      text-transform: initial;
  }
}
.ant-select {
  &.ant-select-selector-min-height {
    .ant-select-selector,
    .ant-select-selector .ant-select-selection-search-input {
      height: auto;
      min-height: 36px;
    }
  }
}

.input-number{
  width: 100%;
}