.category-info {
  .care-title {
    font-weight: 500;
    font-size: 1rem;
    margin: 6px 8px 15px 0;
  }
  .care-label {
    font-size: 28px;
    margin: 0px 4px;
    line-height: 32px;
  }
  .button-plus {
    border: 1px solid #e5e5e5;
    background: #ffffff;
    color: #757575;
    width: 37px !important;
    height: 37px !important;
    padding: 0;
  }
  .mr10 {
    margin-right: 8px;
  }
  .material-status {
    margin-bottom: 20px;
  }
}
