.shop-show-style {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

// custom tree select shop
.ant-tree-select-dropdown {
  width: 300px !important;
}

.ant-select-tree-switcher-noop {
  display: none;
}
.ant-select-tree-checkbox {
  margin: 4px 5px 0 10px;
}
.ant-select-tree-title {
  word-break: break-all;
}
