@media screen and (max-width: 700px) {
    @keyframes fadeIn {
        0% {
            transform: translateY(-5%);
        }
        100% {
            transform: translateY(0%);
        }
    }
    .ant-picker {
        border-radius: 3px;
    }
    .space-item {
        width: 100% !important;
    }
    .more {
        display: flex;
        justify-content: flex-end;
    }
    .phone-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 8px;
        .phone-input {
            flex: 1;
            border-radius: 3px !important;
        }
        .ant-form-item {
            flex: 1;
            margin-bottom: 0;
            .ant-form-item-control {
                flex: unset !important;
                margin-right: 8px;
            }
        }
    }
    .customer-bottom-button {
        display: flex;
        justify-content: space-between;
        margin-top: 0.75rem;
        margin-left: -30px;
        height: 70px;
        width: 100%;
        box-shadow: 0px -1px 8px rgba(0, 0, 0, 0.1);
        align-items: center;
        padding: 0 32px;
        position: fixed;
        bottom: 0px;
        background-color: white;
        z-index: 99;
        padding-right: 280px;
    }
    .customer-search-filter {
        .page-filter-right {
            flex: 1;
            .ant-space-align-center {
                width: 100%;
                .ant-space-item {
                    width: 100%;
                    .ant-form-inline {
                        width: 100%;
                        justify-content: space-between;
                        .ant-form-item:first-child {
                            flex: 1;
                            margin: 0 16px;
                        }
                    }
                }
            }
        }
        .ant-table-body {
            .customer-name-textoverflow {
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
            }
            .ant-table-tbody>tr>td {
                padding: 10px 15px !important;
            }
            &::-webkit-scrollbar {
                // width: 12px;
                height: 8px;
                background-color: rgba(79, 104, 125, 0.4);
            }
            /* Track */
            &::-webkit-scrollbar-track {
                background: #f1f1f1;
                border-radius: 4px !important;
            }
            /* Handle */
            &::-webkit-scrollbar-thumb {
                border-radius: 4px !important;
                background-color: rgba(151, 151, 151, 0.4);
            }
            /* Handle on hover */
            &::-webkit-scrollbar-thumb:hover {
                background-color: rgba(0, 0, 0, 0.35);
                border-radius: 4px !important;
            }
        }
    }
    .ant-drawer-content-wrapper {
        width: 380px;
    }
    .modal-confirm-customer {
        overflow: hidden;
        &-container {
            display: flex;
            flex-direction: row;
        }
        &-icon {
            width: 70px;
            height: 70px;
            font-size: 32px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
        }
        &-right {
            justify-content: center;
            display: flex;
            flex-direction: column;
        }
        &-title {
            font-size: 18px;
            font-weight: 500;
            font-style: normal;
        }
        &-sub-title {
            font-weight: normal;
            font-size: 14px;
            color: rgba(32, 32, 32, 0.9);
            opacity: 0.6;
        }
        .ant-modal-body {
            padding: 6px 24px 0 24px;
        }
    }
    .customer-note-item {
        background-color: #f5f5f5;
        margin-bottom: 10px;
        padding: 10px;
        display: flex;
        justify-content: space-between;
        border-radius: 5px;
        overflow-wrap: break-word;
        word-break: break-word;
        white-space: pre-wrap;
    }
    .customer-info-row {
        padding: 0 3px !important;
    }

    .ant-input, .ant-select-selector, .ant-picker, .phone-container button, .ant-form-item {
        height: 32px!important;
    }

    .ant-select {
        &-selector {
            height: 32px!important;
            padding: 0 14px;
            .ant-select-selection {
                &-search-input {
                    height: 32px!important;
                }
                &-item {
                    line-height: 32px!important;
                }
                &-placeholder {
                    line-height: 32px!important;
                }
            }
        }
    }
}