.loyalty-accumulate-wrapper {
  font-family: Roboto;
  color: #222222;

  .d-flex {
    display: flex;

    .title-card {
      flex: 1;
      line-height: unset;
    }

    .program-status {
      font-size: 14px;
      line-height: 16px;
      display: flex;
      width: 240px;
      justify-content: space-between;
      align-items: center;

      .ant-switch-checked {
        background: #27AE60;
      }
    }
  }

  .additional-option {
    margin: 35px auto 31px 30px;
    font-size: 14px;
    line-height: 16px;

    .ant-switch-checked {
      background-color: #2a2a86;
    }

    .option {
      display: flex;
      align-items: center;

      .switcher {
        margin-right: 13px;
        align-self: center;
      }
    }
  }

  .require-rules,
  .date-rule {
    margin: 0 0 0 30px;

    .rule {
      margin-bottom: 14px;

      .dropdown-rule,
      .datepicker,
      .input-rule {
        margin-top: 8px;
        width: 100%;
        max-width: 350px;
        border-radius: 6px;
        display: block;
      }

      label {
        font-weight: 500;
        font-size: 14px;
        color: #222222;
        line-height: 16px;
      }
    }
  }

  .date-rule {
    margin-bottom: 43px;
  }

  .back {
    display: flex;
    align-items: center;
    padding-left: 24px !important;

    div {
      color: #737373;
      display: flex;
      align-items: center;
      cursor: pointer;
    }

    svg {
      margin-right: 8px;
    }
  }

  .action-group {
    padding-right: 30px !important;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .save-btn {
      margin-left: 30px;
    }

    .cancel-btn {
      background-color: white;

      &:hover, &:focus {
        color: #222222;
        background-color: white;
      }
    }
  }

  .accumulate-point-rule {
    padding: 0 30px;
    .rule-dropdown {
      width: 100%;
      text-align: left;

      .ant-select-selection-placeholder {
        flex: unset;
      }
    }

    .remove-rule {
      background-color: #f2f2f2;
      width: 24px;
      height: 24px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      cursor: pointer;

      img {
        width: 20px;
        height: 20px;
        align-self: center;
      }
    }

    .add-new-rule {
      background-color: white;
      margin: 20px 0 36px 0;
      color: #2a2a86;
      border-color: #2a2a86;
      cursor: pointer;
      width: 120px;
      justify-content: space-between;

      span {
        margin-right: 8px;
      }
    }
  }
}
