.dropdown-custom {
  padding: 12px 8px;
  &-add-new {
    width: 100%;
    justify-content: flex-start;
    text-align: left;
    background-color: transparent;
    font-size: 14px;
    color: #222222;
    align-items: center;
    display: flex;
    font-weight: 400;
    padding: 9px 14px;
    border-bottom: 1px solid #f5f5f5;
    span {
      margin-left: 13px;
    }
    &:hover,
    &:focus,
    &:active {
      color: #222222;
      background-color: #f7f7ff;
    }
  }
}
