.quill{
  width: 100%;
  border: 1px solid #CFDCE9;
  border-radius: 5px;
  .ql{
    &-toolbar  {
      border: none;
      background-color: rgba($background-color-secondary, 0.5);
    }
    &-container  {
      height: 200px;
      border: none;
    }
  }
}