.quill {
  width: 100%;
  border: 1px solid #cfdce9;
  border-radius: 5px;
  .ql {
    &-toolbar {
      border: none;
      background-color: rgba($background-color-secondary, 0.5);
    }
    &-container {
      height: 200px;
      border: none;
    }
  }
}
.cke_contents {
  height: 600px !important;
}
