.store-return-modal {
  .ant-modal-body {
    padding: 0px 24px 24px 24px;
  }
  .search-store-input {
    padding: 12px 0px !important;
  }
}

.order-split-modal {
  .ant-modal-body {
    padding: 10px 16px 0px 16px;
    font-size: 14px;
    line-height: 1.5715;
    word-wrap: break-word;
    overflow-y: auto;
    max-height: 621px;
  }
  .ant-modal-footer {
    border-top: none;
  }
}
