// @import "variable";
.page-header {
  top: 0;
  right: 0;
  left: 255px;
  background: $background-color;
  padding: 12px 0px;
  transition: all 0.1s;

  &-heading {
    display: flex;
    justify-content: space-between;

    &-title {
      font-size: 20px;
      margin-bottom: 2px;
      font-weight: bold;
      white-space: nowrap;
      overflow: hidden;
    }

    &-left {
      width: 100%;
    }

    &-extra {
      display: flex;
      align-items: center;
    }

    @include sm-mobile() {
      .sub-feature-button {
        display: none;
      }
    }
  }
  @include sm-mobile() {
    height: auto;
    padding: 8px 0;
    &-heading-title {
      white-space: normal;
      overflow: visible;
      font-size: 16px;
    }
    &-heading-left {
      .ant-breadcrumb span .ant-breadcrumb-link {
        word-break: break-word;
      }
    }
  }
}
