.dropdown-custom {
    padding: 12px 8px;
    .dropdown-add-new {
        width: 100%;
        justify-content: flex-start;
        text-align: left;
        background-color: transparent;
        font-size: 14px;
        color: #222222;
        align-items: center;
        display: flex;
        font-weight: 400;
        padding: 9px 14px;
        span {
            margin-left: 13px;
        }
        &:hover,
        &:focus,
        &:active {
            color: #222222;
            background-color: #f7f7ff;
        }
    }
}

.supplier {
  padding: 0;
  .ant-select-item {
    padding: 0px;
    height: auto;
    .supplier-item {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 6px 12px;
      background: #FFFFFF;
      box-shadow: 0px 1px 0px #F5F5F5;
      &-title {
        margin-left: 10px;
        color: #222222;
        font-size: 14px;
      }
      &-dot {
        margin: 0 12px;
        font-size: 6px;
        line-height: 12px;
        color: #737373;
      }
      &-phone {
        color: #737373;
      }
      &:hover {
        background-color:  #F7F7FF;
      }
    }
  }
  &-container {
    &-info {
      display: flex;
      align-items: center;
      padding-left: 20px;
      padding-right: 20px;
      .rs {
        &-name {
          margin-left: 10px;
          color: $primary-color;
          font-size: 16px;
        }
        &-money {
          display: flex;
          align-items: center;
        }
        &-delete{
          display: flex;
          width: 30px;
          height: 30px;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: transparent;
          color: #222222;
          border: none;
          margin-left: 20px;
          &:hover {
            background-color: rgba($primary-color, .15)
          }
        }
      }
      &-right {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
    }
    &-address {
      padding: 0 20px;
      .su-title {
        font-weight: 400;
        font-size: 14px;
        color:#737373;
      }
    }
  }
}