@page {
  /* size: 80mm 50mm; */
  margin: 20mm;
}

@media print {
  .pageBreak {
    page-break-before: always;
  }
}

.ckeditor-table-border-dotted {
  border: 1px dotted #000;
  border-collapse: separate;
  td {
    border: none;
    &:not(:last-child) {
      border-right: 1px dotted #000;
    }
  }
}

.ckeditor-table-border-dashed {
  border-style: dashed;
}

.ckeditor-table-border-bottom-dotted {
  border-bottom: 1px dotted #000;
}

.ckeditor-table-border-bottom-dashed {
  border-bottom-style: dashed;
}

.ckeditor-table-has-border {
  td {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.printContent {
  table {
		word-break: break-word;
    td {
      padding-top: 5px;
      padding-bottom: 5px;
    }
  }
}
.print-po-grid {
  font-family: "Palatino Linotype" !important;
  .po-info {
    font-size: 12px !important;
    border-spacing: 0;
    font-family: 'Times New Roman', Times, serif;
  }
   .po-info td {
    vertical-align: top;
    padding: 0 !important;
  }
  .printContent table td {
    padding: 0px !important;
  }
  table.print-grid {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    table-layout: fixed;
    font-size: 8px;
    font-weight: bold;
  }
  table.print-grid th {
    border: 0.5px solid gray;
  }
  table.print-grid td {
    border: 0.5px solid gray;
  }
  .wrap-text {
    overflow-wrap: break-word;
    text-align: center;
  }
  .wrap-text-name{
    overflow-wrap: break-word;
    text-align: center;
    font-size: 12px;
  }
  .header-wrap-code{
    width: 50x;
  }
  .wrap-text-code {
    transform: rotate(-90deg);
    display:inline-block;
    font-size: 10px;
  }
  .cloth {
    overflow-wrap: break-word;
    text-align: center;
  }
  .qty {
    overflow-wrap: break-word;
    text-align: center;
  }
  .price {
    overflow-wrap: break-word;
    text-align: center;
  }
  .amount {
    overflow-wrap: break-word;
    text-align: center;
  }
  .po-img{
    max-height: 140px;
  }

  .tb-payment{
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: fixed;
    font-size: 12px;
  }

  .tb-payment th{
    border: 0.5px solid gray;
    padding: 2px;
  }

  .tb-payment .th-first{
    border-right: 0;
  }

  .tb-payment-times{
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: fixed;
    font-weight: bold;
  }
}