@import "variable";
.padding-bottom-5 {
  padding-bottom: 5px;
}

.margin-bottom-15 {
  margin-bottom: 15px;
  font-size: 14px;
}

.ant-btn-outline {
  background-color: transparent;
  color: #2a2a86;
}

.text-right {
  text-align: right;
}

.ant-input-search .ant-input-group .ant-input-affix-wrapper:not(:last-child) {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.search-layout {
  padding: 0;
  box-shadow: 0px 0px 6px rgba(118, 133, 146, 0.6);
  border-radius: 3px;
  border-radius: 5px;

  .ant-select-item {
    padding: 0;
    border-bottom: 1px solid #d9d9e4;
    .row-search {
      display: flex;
      align-items: flex-end;
      padding: 8px 12px 12px 12px;
      .rs-right {
        display: flex;
        flex-direction: column;
      }
      .rs-left {
        flex-direction: row;
        display: flex;
        .rs-info {
          margin-left: 18px;
          display: flex;
          flex-direction: column;
        }
      }
    }
    .text {
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 30px;
      font-weight: 400;
    }
    .t-right {
      text-align: right;
    }
    .p-4 {
      margin-top: 4px;
    }
  }
}

.search-layout-customer {
  padding: 0;
  box-shadow: 0px 0px 6px rgba(118, 133, 146, 0.6);
  border-radius: 3px;
  .ant-select-item {
    padding: 0;
    border-bottom: 1px solid #d9d9e4;
    .row-search {
      display: flex;
      align-items: flex-end;
      padding: 8px 12px 12px 12px;
      .rs-right {
        display: flex;
        flex-direction: column;
      }
      .rs-left {
        flex-direction: row;
        display: flex;
        .rs-info {
          margin-left: 18px;
          display: flex;
          flex-direction: column;
        }
      }
    }
    .text {
      font-family: Inter;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 30px;
      font-weight: 400;
      margin-top: 5px;
    }
    .t-right {
      text-align: right;
    }
    .p-4 {
      margin-top: 4px;
    }
  }
}

.change-shipping-address-content,
.change-shipping-address-title {
  width: 400px;
  padding-left: 10px;
  .shipping-address-name {
    display: flex;
    align-items: center;
    height: 22px;
    .p-0 {
      border: none;
      background-color: transparent;
      margin-left: 8px;
    }
    p {
      margin: 0;
      align-items: flex-end;
    }
  }
}

.change-shipping-address-title {
  button {
    color: #42a0ff;
  }
}

.padding-custom {
  padding: 15px 24px 0 24px;
}

.title-address {
  font-weight: 500;
  font-size: 14px;
  color: #000000;
  margin-bottom: 5px;
}

.customer-row-info {
  color: #5f5f5f;
  font-weight: 400;
  font-size: 14px;
  padding: 2px 0;
}

.btn-style {
  color: #5d5d8a;
  padding: 0;
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  margin-top: 5px;
}

.cdn-level {
  background: rgba(93, 95, 239, 0.1);
  border-radius: 11.5px;
  width: 60px;
  height: 23px;
  position: absolute;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 15px;
  color: #2a2a86;
}

.btn-payment-method {
  button {
    font-size: 17px;
  }
  .ant-btn-primary {
    background: #2a2a86;
    border-color: #2a2a86;
    svg path {
      stroke: #fff;
    }
  }
}

.pick-method-title {
  margin: 10px 0 0;
}

.btn-list-method {
  padding: 10px 0 25px 0;
}

.ant {
  //Steps
  &-steps {
    &-small {
      .ant-steps-item-title,
      .ant-steps-item-description {
        font-size: 12px;
      }
    }
    &-item {
      &-icon {
        width: 24px !important;
        height: 24px !important;
        margin-left: 57px !important;
      }
      &-description {
        color: $placeholder-color !important;
      }
      &-wait {
        .ant-steps-item-tail {
          top: 11px !important;
          &::after {
            background-color: #d9d9e4 !important;
            margin-left: 10px !important;
          }
        }
        .ant-steps-icon-dot {
          background-color: #d9d9e4 !important;
        }
      }
      &-process {
        .ant-steps-item-tail {
          top: 11px !important;
          background-color: #2a2a86 !important;
          &::after {
            background-color: #2a2a86 !important;
            margin-left: 10px !important;
          }
        }
        .ant-steps-icon-dot {
          background-color: #2a2a86 !important;
        }
        .ant-steps-item-title,
        .ant-steps-item-description {
          font-weight: 500;
          color: #2a2a86;
          font-family: Roboto;
        }
        .ant-steps-item-icon > .ant-steps-icon .ant-steps-icon-dot {
          background-color: #2a2a86 !important;
        }
      }
      &-finish {
        .ant-steps-item-tail {
          top: 11px !important;
          &::after {
            background-color: #2a2a86 !important;
            margin-left: 10px !important;
          }
        }
        .ant-steps-icon-dot {
          color: $white;
          background-color: #2a2a86 !important;
        }
      }
    }
    &-icon {
      &-dot {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}

.orders-tag {
  border-radius: 15px;
  padding-left: 15px;
  padding-right: 15px;
}

.orders-tag-vip {
  background-color: rgba(93, 95, 239, 0.1);
  color: #2a2a86;
  margin: 0px;
  font-weight: 500;
}

.ant-divider-horizontal {
  margin: 15px 0;
}

.ant-card-extra {
  padding: 0px;
}

.orders {
  .custom-select-suffix {
    .ant-btn-icon-only {
      background-color: rgba($primary-color, 0.1);
    }
  }
  &-tag {
    border-radius: 15px;
    padding-left: 15px;
    padding-right: 15px;
    &-vip {
      background-color: rgba(#5d5fef, 0.1);
      color: #5d5fef;
    }
    &-danger {
      background-color: rgba($red, 0.1);
      color: $red;
    }
    &-warning {
      background-color: rgba($secondary-color, 0.1);
      color: $secondary-color;
    }
    &-focus {
      background-color: rgba($focus-border-color, 0.1);
      color: $focus-border-color;
    }
  }
  &-input {
    &-discount {
      .ant-input-prefix {
        margin-left: 0;
      }
      .ant-select {
        .ant-select-selector {
          border: 0;
          border-radius: $border-radius 0 0 $border-radius;
          background-color: #f4f4f760;
        }
      }
      &.text-right {
        .ant-input {
          text-align: right;
        }
      }
    }
  }
  &-timeline {
    .ant-collapse-item:first-child:nth-last-child(1):not(.ant-collapse-item-active) {
      &::before {
        content: unset !important;
      }
    }
    .ant-collapse-item {
      position: relative;
      &::after {
        content: "";
        position: absolute;
        width: 14px;
        height: 14px;
        top: 16px;
        left: -8px;
        background-color: #e5e5e5;
        border-radius: 50%;
      }
      &::before {
        content: "";
        position: absolute;
        width: 2px;
        height: 100%;
        background-color: #d9d9e4;
        left: -2px;
        top: -16px;
      }
      &:first-child {
        &::before {
          top: 0;
        }
      }
      .ant-collapse-content-box {
        padding-top: 0 !important;
        padding-bottom: 0 !important;
      }
    }
    &-custom {
      .ant-collapse-header {
        position: unset !important;
        display: inline-flex;
        flex-direction: row-reverse;
        align-items: center;
        width: auto;
        color: $primary-color !important;
        .fixed-button {
          position: absolute;
          right: 0;
          bottom: 0;
        }
        .fixed-total {
          position: absolute;
          left: 50%;
        }
        .fixed-time {
          position: absolute;
          right: 0;
        }
        .ant-collapse-arrow {
          margin-left: 10px;
        }
      }
    }
    .ant-collapse-header {
      display: inline-block;
      width: auto;
      color: $primary-color !important;
    }
  }
}

.ant-btn-custom {
  background-color: #fff;
  border-color: #fff;
  &:hover {
    background-color: #fff;
    border-color: #fff;
  }
}

.p-0 {
  padding: 0 !important;
}

.search-layout .ant-select-item {
  padding: 0;
  border-bottom: 1px solid #d9d9e4;
  height: 70px;
}

.search-layout-customer .ant-select-item {
  padding: 0;
  border-bottom: 1px solid #d9d9e4;
  height: 60px;
}

input {
  border-left: 0;
  padding: 4px 8px;
}
// checking
.site-input-group-wrapper {
  padding: 0;
  min-height: 37px;
  > div {
    position: relative;
  }
  .ant-input-group {
    display: flex;
    .yody-pos-discount-type {
      width: 40px;
    }
  }
  .yody-table-discount-converted {
    font-size: 12px;
    position: absolute;
    right: 1px;
    top: calc(100% + 2px);
  }

  .currency-option {
    color: black;
    font-size: 16px;
    .ant-select-customize-input {
      height: 37px;
    }
    .ant-select-selector {
      padding-left: 10px;
      border-radius: $border-radius 0 0 $border-radius;
      min-height: 37px;
    }
    .ant-select-selection-item {
      padding: 0;
      height: 37px;
    }
    .ant-select-customize-input {
      height: 37px;
    }
    .ant-select-customize-input {
      height: 37px;
    }
  }
  .hide-number-handle {
    height: 37px;
  }
}
.ant-modal-footer {
  box-shadow: none;
  border: none;
  padding: 0 34px 26px 0;
}

.hide-number-handle {
  .ant-input-number-handler-wrap {
    display: none;
  }
  .ant-input-number-input-wrap {
    & > input {
      height: 37px;
      text-align: end;
    }
  }
}

.badge-style {
  border-radius: 15px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: rgba(226, 67, 67, 0.1);
}

.font-weight-500 {
  font-weight: 500;
}

.font-size-text {
  font-size: 16px;
}

.row-info-icon {
  margin: 3px 10px 15px 0px;
  align-items: center;
}

.row-info-title {
  min-width: 20px;
  margin-top: -7px;
}

.form-group-with-search {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  label {
    color: black;
  }
}

.margin-top-20 .product-total-checkout {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 60px 10px 120px;
  background-color: #f9f9fa;
  & > span {
    display: block;
    color: #2f485d;
    font-size: 16px;
  }
  & > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    & > span {
      padding: 0 40px 0 0px;
      display: block;
      &:nth-child(1) {
        color: black;
      }
      &:nth-child(2) {
        color: red;
      }
      &:nth-child(3) {
        color: #1389ff;
        padding-right: 50px;
      }
    }
  }
}
.text-center {
  div {
    & > span {
      color: #1389ff;
      display: block;
    }
  }
}
// checking
.ant-input-number-input-wrap {
  border-radius: 5px;
  & > input {
    height: 36px;
  }
}
.ant-table-footer {
  padding: 0;
}

.row-footer-custom {
  padding: 15px 20px 30px 20px;
  color: rgba(0, 0, 0, 0.85);
  background: #f4f4f7;
}

.ant-table-thead {
  background-color: #f4f4f7;
}
//checking
.ant-col .ant-form-item-control {
  input {
    border-radius: 5px;
  }
}

.ant-input-number.hide-number-handle {
  border-radius: 0 $border-radius $border-radius 0;
}

.modal-hide-header {
  max-width: 398px;
  height: 258px;
  input {
    height: 37px;
  }
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px #ececf5;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(79, 104, 125, 0.4);
  outline: 1px solid rgba(79, 104, 125, 0.4);
  border-radius: 5px;
}

.yody-pos-varian-name {
  font-weight: 500;
}

.padding-lef-right {
  padding: 0 24px 30px 24px;
}

.custom-icon-dot {
  color: #fcaf17;
  font-size: 8px;
  position: relative;
  margin-right: 11px;
}

.title-card {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  position: relative;
  padding-left: 25px;
}
.title-card::before {
  content: "";
  width: 8px;
  height: 8px;
  background: #fcaf17;
  border-radius: 50%;
  top: 4px;
  position: absolute;
  left: 3px;
}

.ant-form-item-label label {
  color: #222222;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
}

.title-header {
  padding: 16px 0 0 30px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.padding-left-right-30 {
  padding: 0 30px;
}

.logo-customer {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin-left: 5px;
  margin-top: 3px;
}

.text-body {
  color: #222222;
  font-size: 14px;
}

.icon-customer-info {
  width: 16px;
  height: 16px;
}

.padding-24 {
  padding: 24px;
}
//màn hình tạo đơn online
.sale_order_empty_product {
  height: 147px;
  & > img {
    width: 74px;
  }
  & > p {
    margin: 0 0;
    height: 18px;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.2px;
    color: #737373;
  }
  & > button {
    width: 208px;
    height: 38px;
    margin: 7px 0 15px 0;
    & > span {
      text-align: center;
      color: #222222;
      font-size: 14px;
      line-height: 18px;
      letter-spacing: 0.2px;
      font-weight: 400;
    }
  }
}
.sale-product-box-table {
  padding: 0 24px;
}
.sale-product-box-payment {
  & > div {
    &:first-child {
      div {
        label {
          margin: 6px 0;
          span {
            &:first-child {
              width: 18px;
              // left: -3px;
              // input{
              //   // left: 3px
              // }
              span {
                width: 18px;
                height: 18px;
                margin-left: 0;
                &::after {
                  top: 48%;
                }
              }
              &::after {
                width: 18px;
                // left: 3px;
              }
            }
            &:last-child {
              color: #222222;
              font-size: 14px;
              line-height: 16px;
              margin-left: 3px;
              font-weight: normal;
            }
          }
        }
      }
    }
    &:last-child {
      div {
        height: 30px;
        font-size: 14px;
        padding: 0;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        color: #222222;
        margin: 0 0 0px 0;
        display: flex;
        align-items: center;
        &:nth-child(5) {
          height: 10px;
        }
        &:nth-child(6) {
          strong {
            &:nth-child(1) {
              display: flex;
              align-items: center;
              font-weight: bold;
              font-size: 14px;
              line-height: 16px;
            }
            &:nth-child(2) {
              display: flex;
              align-items: center;
              color: #2a2a86;
            }
          }
        }
      }
    }
  }
}

.saleorder_product_dropdown_img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.create-button-custom {
  margin-left: 14px;
  font-weight: 400;
  border-radius: 3px;
}

.ant-steps-item-process
  .ant-steps-item-icon
  > .ant-steps-icon
  .ant-steps-icon-dot {
  background-color: #2a2a86;
}

.cancle-button {
  color: "#222222";
  border: "1px solid #E5E5E5";
}
.saleorder_shipment_method_btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 60px;
  margin-bottom: 10px;
  border-bottom: 1px solid #2a2a86;
}
.saleorder_shipment_button_active {
  border: 1px solid #2a2a86;
  border-bottom: none;
  height: 55px;
  padding: 10px;
  border-radius: 3px 3px 0 0;
  background-color: white;
  margin-top: 6px;
  flex: 1;
  img {
    margin-right: 8px;
    width: 18px;
    height: 18px;
    filter: invert(15%) sepia(39%) saturate(4137%) hue-rotate(231deg)
      brightness(96%) contrast(100%);
  }
  span {
    height: 18px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1px;
    letter-spacing: 0.2px;
    color: #2a2a86;
  }
}

.saleorder_shipment_button {
  border: 1px solid #e5e5e5;
  padding: 10px;
  border-radius: 3px;
  cursor: pointer;
  flex: 1;
  img {
    margin-right: 8px;
    width: 18px;
    height: 18px;
  }
  span {
    height: 18px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1px;
    letter-spacing: 0.2px;
    color: #222222;
  }
}

.saleorder_shipment_button_border {
  border: 1px solid #2a2a86;
  span {
    color: #2a2a86;
  }
}
// shipment đơn hàng

.saleorder_shipment_order_colapse {
  & > div {
    & > div {
      &:first-child {
        & > div {
          width: 220px;
          display: flex;
          align-items: center;
          & > div {
            & > p {
              margin: 0;
              font-family: Inter;
              font-style: normal;
              font-weight: 500;
              font-size: 18px;
              line-height: 22px;
            }
          }
        }
      }
    }
  }
}

.margin-top-bottom-10 {
  margin: 10px 0;
}

.yody-pos-gift-modal{
 .ant-modal-content{
  width: 650px;
  .ant-modal-body{
    div{
      &:nth-child(1){
        
      }
      &:nth-child(2){
        width: 100%;
        margin-bottom: 2px;
      }
      &:nth-child(3){
        width: 100%;
      }
      .ant-select-item-option-content{
        width: 1100px;
      }
    }
  }
 }
}
