.custom-select {
  position: relative;

  .ant-select {
    width: 100%;
  }

  &-has-suffix {
    .ant-select-selector {
      padding-right: 50px;

      & > .ant-select-selection-search {
        right: 50px;
      }
    }
    .ant-select-arrow {
      right: 45px;
    }
  }

  &-suffix {
    position: absolute;
    width: 38px;
    height: 38px;
    top: calc(50% - 18px);
    right: 0px;
  }
}
