@import url('https://fonts.googleapis.com/css?family=Inter:ital,wght@0,100;0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

$primary-color-blue: #2A2A86;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter;
}

.d-flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.justify-content-center {
  justify-content: center;
}

.m-0 {
  margin: 0 !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.mt-0 {
  margin-top: 0 !important;
}

.p-0 {
  padding: 0 !important;
}

.font-weight-500 {
  font-weight: 500;
}

.w-100 {
  width: 100%;
}

.text-right {
  text-align: right;
}

.ant-input-number.hide-handler-wrap {
  .ant-input-number-handler-wrap {
    display: none;
  }
}

.notfound{
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;

  h1{
    font-size: 48px;
    margin: 0;
  }
}

.ct-toast {
  border-left: 0 !important;

  &-success {
    color: #3c763d !important;
    background: #dff0d8 !important;
  }
  &-error {
    color: #a94442 !important;
    background: #f2dede !important;
  }
  &-warn {
    color: #8a6d3b !important;
    background: #fcf8e3 !important;
  }
  &-info {
    color: #31708f !important;
    background: #d9edf7 !important;
  }
}

.loading{
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  justify-content: center;
  align-items: center;
  z-index: 99999;
  background-color: #dddddd60;
}

.ant-layout-header {
  height: 86px;
  padding: 18px 50px;
  color: rgba(0,0,0,.85);
  line-height: 30px;
  background: transparent;
}


.ant-layout-sider {
  background-color: #fff;
}

.ant-btn-primary {
  color: #fff;
  background: $primary-color-blue;
  border-color: $primary-color-blue;
  &:focus &:hover {
    color: #fff;
    background:$primary-color-blue;
    border-color:$primary-color-blue;
  }
}