.merchandise_picking {
    color: rgb(255, 255, 255);
    background: rgb(201, 141, 23) !important;
}

.returned {
    color: rgb(255, 255, 255);
    background: rgb(82, 210, 118) !important;
}

.shipped {
    color: rgb(255, 255, 255);
    background: rgb(39, 174, 96) !important;
}

.returning {
    color: rgb(255, 255, 255);
    background: rgb(232, 119, 10) !important;
}

.coordinator_confirmed {
    color: rgb(255, 255, 255);
    background: rgb(82, 210, 118) !important;
}

.awaiting_saler_confirmation {
    color: rgb(255, 255, 255);
    background: rgb(16, 98, 39) !important;
}

.shipping {
    color: rgb(255, 255, 255);
    background: rgb(0, 137, 123) !important;
}

.first_call_attempt {
    color: rgb(255, 255, 255);
    background: rgb(16, 98, 39) !important;
}

.awaiting_shipper {
    color: rgb(255, 255, 255);
    background: rgb(16, 98, 39) !important;
}

.delivery_service_cancelled {
    color: rgb(255, 255, 255);
    background: rgb(226, 67, 67) !important;
}

.awaiting_coordinator_confirmation {
    color: rgb(255, 255, 255);
    background: rgb(252, 175, 23) !important;
}

.status-default{
    color: rgb(255, 255, 255);
    background: #222222 !important;
}
