.loyalty-cards {
  padding: 21px 32px 12px 21px;

  .custom-table-pagination {
    padding: 21px 4px 0 4px;
  }

  .card {
    font-size: 14px;
    line-height: 16px;
    margin: auto;
    width: 120px;
    height: 26px;
    color: white;
    justify-content: center;
    display: flex;
    border-radius: 100px;
    align-items: center;

    &__ACTIVE {
      background-color: #27AE60;
    }

    &__ASSIGNED {
      background-color: #2A2A86;
    }

    &__LOCKED {
      background-color: #676767;
    }

    &__INACTIVE {
      background-color: #676767;
    }
  }
}