.customer-ranking {
  .status {
    width: 120px;
    padding: 5px 0;
    text-align: center;
    margin: auto;
    color: white;
    border-radius: 100px;
    &__ACTIVE {
      background-color: #27ae60;
    }
    &__INACTIVE {
      background-color: #676767;
    }
  }
}

.update_ranking {
  &-customer {
    padding: 20px;
    text-align: center;

    &-last-date {
      color: #666666;
      padding: 4px 0;
      margin-bottom: 0;
    }
  }
}

.ant-card-body {
  padding-top: 0;
}
