@font-face {
  font-family: "icomoon";
  src: url("fonts/icomoon.eot?pea0lw");
  src: url("fonts/icomoon.eot?pea0lw#iefix") format("embedded-opentype"),
    url("fonts/icomoon.ttf?pea0lw") format("truetype"),
    url("fonts/icomoon.woff?pea0lw") format("woff"),
    url("fonts/icomoon.svg?pea0lw#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "utm-aptima";
  src: url("fonts/UTM Aptima.ttf");
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-sale:before {
  content: url("assets/icon/menu-pos.svg");
}

.icon-customer:before {
  content: url("assets/icon/menu-customer.svg");
}

.icon-marketing:before {
  content: url("assets/icon/menu-marketing.svg");
}

.icon-dashboard:before {
  content: url("assets/icon/menu-dash-board.svg");
}

.icon-dot:before {
  content: "\e903";
}

.icon-report:before {
  content: url("assets/icon/menu-report-chart.svg");
}

.icon-inventory:before {
  content: url("assets/icon/menu-ware-house.svg");
}

.icon-order:before {
  content: url("assets/icon/ban-online.svg");
}

.icon-offline-order:before {
  content: url("assets/icon/ban-le.svg");
}

.icon-product:before {
  content: url("assets/icon/menu-clothe.svg");
}

.icon-promotion:before {
  content: url("assets/icon/menu-promotion.svg");
}

.icon-setting:before {
  content: url("assets/icon/menu-setting.svg");
}

.icon-transport:before {
  content: url("assets/icon/menu-transport.svg");
}

.icon-ecommerce:before {
  content: url("assets/icon/menu-ecommerce.svg");
}

.icon-web-app:before {
  content: url("assets/icon/web_app.svg");
}

.icon-YDpage:before {
  content: url("assets/icon/menu-yd-page.svg");
}

.icon-warranty:before {
  content: url("assets/icon/icon-warranty-menu.svg");
}
.icon-supplier:before {
  content: url("assets/icon/menu-supplier.svg");
}
.icon-daily-revenue:before {
  content: url("assets/icon/tong-ket-ca.svg");
}
