.assign-customer-modal {
  .assignment {
    margin-top: 8px;
    display: flex;

    .dropdown-rule {
      width: 80%;
    }

    .assign-btn {
      margin-left: 12px;
      align-self: center;
    }
  }
}