.high-level {
  background: #fcaf17;
  border-radius: 4px;
  padding: 1px 3px;
}

.low-level {
  background: #f3f3ff;
  border-radius: 4px;
  color: #2a2a86;
  padding: 1px 3px;
}

.btn-view {
  height: 42px;
  color: #2a2a86;
  border: 1px solid #2a2a86 !important;
  margin-right: 12px;
}

.icon-level {
  margin-right: 8.64px;
}
