@import "assets/css/variable";
.order-filter{
  padding: 20px 0 20px 0;
}
.order-filter .ant-form .ant-form-inline{ 
 padding: 0 16px 0 0;
} 
.order-filter .ant-form-item:last-child{
  margin-right: 0;
}