@import "assets/css/variable";
.adjustment-filter{
  padding: 20px 0 20px 0;
}
.adjustment-filter .ant-form .ant-form-inline{
 padding: 0 16px 0 0;
}
.adjustment-filter .ant-form-item:last-child{
  margin-right: 0;
}
.adjustment-filter .mt10{
  margin-top: 10px;
}

.site-input-split {
  width: 10%;
  text-align: center;
  height: 38px;
  padding: 7px;
  margin-top: 10px;
}
