.ant-popover-inner {
  .ant-popover-buttons {
    .ant-btn {
      height: 30px;
      line-height: 15px;
    }
  }
}

.btn-dange-remove-order {
  width: 30px;
  height: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
}
