.buy-customer-box {
    display: flex;
    align-items: center;
    &-start, &-end {
        width: 100%;
        position: relative;
        &-close {
            display: none;
            color: #fff;
            background-color: #bdb7b7;
            position: absolute;
            top: 50%;
            right: 10px;
            transform: translateY(-50%);
            border-radius: 50%;
            width: 14px;
            height: 14px;
            font-size: 10px;
            text-align: center;
        }
    }
}

.buy-customer-box-suffix:hover {
    .buy-customer-box-start-close {
        display: block;
    }
    
    .buy-customer-box-end-close {
        display: block;
    }

    .ant-picker-suffix {
        display: none;
    }
}

.buy-start-customer, .buy-end-customer {
  width: 100%;
}

.ant-picker-cell {
    color: unset;
}