.list-discount-wrapper {
    color: #222222;
    .add-new-btn {
        font-size: 14px;
        line-height: 18px;
        letter-spacing: 0.2px;
        color: #2A2A86;
        padding: 5px 8px;
    }
    .d-flex {
        display: flex;
    }
    .tab-label {
        flex-grow: 1;
    }
    .custom-table .ant-table.ant-table-middle .ant-table-tbody>tr>td:last-child {
        padding: 0;
    }
    .redemption-rules {
        margin-top: 21px;
        width: 100%;
        .row-label {
            font-weight: 500;
            margin-bottom: 14px;
        }
        &__table {
            overflow-x: scroll;
            overflow-y: hidden;
            thead {
                border-bottom: solid 2px #e2e2e2;
            }
            tbody {
                background-color: white;
            }
            .rules {
                background: #F5F5F5;
                box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.1);
                width: 100%;
                .condition {
                    padding: 14px 11px;
                    min-width: 150px;
                    min-height: 70px;
                    font-size: 14px;
                    line-height: 16px;
                    border-bottom: solid 1px #e2e2e2;
                    &:first-child {
                        text-align: left;
                        min-width: 300px;
                    }
                }
                .checkbox {
                    text-align: center;
                }
            }
        }
    }
    .save-btn {
        margin-top: 16px;
    }
    .status-col {
        &__ACTIVE {
            color: #27AE60;
        }
        &__INACTIVE {
            color: #E24343;
        }
    }
}

.discount-search-filter {
    padding: 0px 20px;
    .page-filter-right {
        flex: 1;
        .ant-space-align-center {
            width: 100%;
            .ant-space-item {
                width: 100%;
                .ant-form-inline {
                    width: 100%;
                    justify-content: space-between;
                    .ant-form-item:first-child {
                        flex: 1;
                        margin: 0 16px;
                    }
                    .ant-form-item:last-child {
                        margin: 0 0px;
                    }
                }
            }
        }
    }
    .ant-table-body {
        .ant-table-measure-row {
            td {
                background-color: red;
                padding-left: 0 !important;
            }
        }
        .customer-name-textoverflow {
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
        }
        .ant-table-tbody {
            tr>td {
                padding: 10px 15px !important;
            }
            tr:first-child {
                td {
                    padding: 0 !important;
                }
            }
        }
        &::-webkit-scrollbar {
            // width: 12px;
            height: 8px;
            background-color: rgba(79, 104, 125, 0.4);
        }
        /* Track */
        &::-webkit-scrollbar-track {
            background: #f1f1f1;
            border-radius: 4px !important;
        }
        /* Handle */
        &::-webkit-scrollbar-thumb {
            border-radius: 4px !important;
            background-color: rgba(151, 151, 151, 0.4);
        }
        /* Handle on hover */
        &::-webkit-scrollbar-thumb:hover {
            background-color: rgba(0, 0, 0, 0.35);
            border-radius: 4px !important;
        }
    }
}

.general-info {
    .ant-input-number {
        width: 100%;
    }
}

.delete-icon {
    &:hover {
        background-color: #f7f7ff;
    }
    &:focus {
        background-color: #f7f7ff;
    }
}

.dragger-wrapper {
    width: 100%;
    padding: 10px 30px;
}

.ant-select-selector {
    border-radius: 0px !important;
}

.ant-select {
    &.ant-select-selector-min-height {
        .ant-select-selector,
        .ant-select-selector .ant-select-selection-search-input {
            height: auto;
            min-height: 36px;
        }
    }
}

.card {
    .status-tag {
        margin-left: 10px;
        background-color: #27AE60;
        color: #ffffff;
        font-size: 12px;
        font-weight: 400;
        margin-bottom: 6px;
        border-radius: 100px;
        padding: 5px 10px;
    }
}
.page-filter {
    padding-top: 0;
  }
.rule-discount {
    &__info{
        margin-bottom: 12px;
    }
    &__condition{
        color: #e24343;
    }
}