.ant-form{
  .ant-row {
    .ant-collapse-content-box {
      .date-option {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
        .ant-btn {
          width: 30%;
        }
      }
    }
  }
}

.order-filter {
  .page-filter {
    .page-filter-heading {
      width: 100%;
      display: inline-flex;
      justify-content: space-between;
      .page-filter-left {
        width: 8%;
        min-width: 100px;
      }
      .page-filter-right {
        width: 88%;
        .ant-space.ant-space-horizontal {
          width: 100%;
          .ant-space-item {
            width: 100%;
            .ant-form.ant-form-inline {
              display: flex;
              justify-content: space-between;
              .ant-form-item {
                margin-right: 0;

              }
              @media screen and (min-width: 1400px) {
                .input-search {
                  width: 70%;
                }
              }
              @media screen and (max-width: 1399px) {
                .input-search {
                  width: 60%;
                }
              }
              @media screen and (max-width: 1099px) {
                .input-search {
                  width: 50%;
                }
              }
              @media screen and (max-width: 799px) {
                .input-search {
                  width: 40%;
                }
              }
            }
          }
        }
      }
    }
  }
  
  
}

.custom-table {
  .ant-table-tbody {
    tr {
      td {
        // .items {
        //   padding: 0 !important;
        // }
        // .items {
        //   padding: 0 !important;
        // }
      }
    }
  }
}
#price_min {
  border-right: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

#price_max {
  border-left: none;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}