$primary-color-blue: #2A2A86;

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-thumb {
  background: #E1E1EE;
}

//.ant-input-affix-wrapper {
//  border-radius: 5px;
//}

.required-label:after {
  content: "*";
  color: red;
  margin-left: 5px;
}

.ant-input-affix-wrapper, .ant-input-search .ant-input:focus, .ant-input-search .ant-input:hover {
  border-color: unset;
  box-shadow: unset;
}

.yody-header {
  padding: 18px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .yody-title {
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    color: rgba(32, 32, 32, 0.9);
  }
}

.header-left {
  overflow: unset;
  display: flex !important;
  align-items: center;
  .zoom-in {
    transition: transform .2s ease;
  }
  .button-collspae {
    border-radius: 50%;
    padding: 0;
    position: absolute;
    right: -15px;
    width: 30px;
    height: 30px;
    box-shadow: 0 0 2px 1px #eee;
    background: #fff;
    z-index: 1000;
  }
}
.yody-menu {
  height: calc(100% - 86px);
  overflow: hidden;
  overflow-y: auto;
  .ant-menu-item {
    align-items: center;
    display: flex;
    a {
      color: #95A1AC;
      &:hover {
        color: #2A2A86;
      }
    }
    i {
      color: #95A1AC;
    }
  }
  
  .ant-menu-item-selected {
    a {
      color: #2A2A86;
    }
    i {
      color: #2A2A86;
    }
  }
  
  .ant-menu-inline .ant-menu-item:after {
    border-right: none;
  }
  
  .ant-menu-item-active {
    a {
      color: #2A2A86;
    }
    i {
      color: #2A2A86;
    }
    .ant-menu-submenu-arrow {
      color: #2A2A86;
    }
  }
  
  .ant-menu-submenu-selected {
    .ant-menu-submenu-title {
      color: #2A2A86;
    }
    .ant-menu-submenu-arrow {
      &::before {
        color: #2A2A86;
      }
      &::after {
        color: #2A2A86;
      }
    }
  }
  
  .ant-menu-submenu-active {
    color: #2A2A86;
  }
  .ant-menu-submenu-title {
    align-items: center;
    display: flex;
    padding-left: 24px;
    color: #95A1AC;
    .ant-menu-submenu-arrow, .ant-menu-submenu-expand-icon {
      color: #95A1AC;
    }
    &:hover {
      color: #2A2A86;
      .ant-menu-submenu-arrow {
        &::before {
          color: #2A2A86;
        }
        &::after {
          color: #2A2A86;
        }
      }
    }
  }
}

.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background-color: #F3F3F7;
}

.ant-menu-inline .ant-menu-item:after, .ant-menu-vertical-left .ant-menu-item:after, .ant-menu-vertical-right .ant-menu-item:after, .ant-menu-vertical .ant-menu-item:after {
  border: none;
}


.yody-search-button {
  background-color: #2A2A86;
  border-radius: 5px;
  color: #FFFFFF;
  border: none;
}

.contain {
  .ant-card-body {
    padding: 20px 0px;
  }
  .view-control {
    padding: 10px 25px;
  }
  .ant-table-cell {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #737373;
  }
}

.button-setting {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  justify-content: center;
  display: flex;
  align-items: center;
  border: none;
  background-color: transparent;
}

.view-empty {
  font-family: Inter;
  font-style: normal;
  display: flex;
  flex-direction: column;
  align-items: center;
  .text-empty {
    font-size: 14px;
    line-height: 17px;
    color: #37394D;
    font-weight: 500; 
  }
  .buttom-empty {
    padding: 10px 25px;
    height: auto;
    font-size: 14px;
    line-height: 17px;
    margin-top: 15px;
    font-weight: 500; 
    background: rgba(42, 42, 134, 0.05);
    border-radius: 5px;
    border: none;
    color: $primary-color-blue;
  }
}

.ant-breadcrumb {
  font-size: 12px;
  span:last-child {
    color: $primary-color-blue;
  }
}

.ant-steps-item {
  .ant-steps-item-title {
    font-size: 12px;
  }
}

.card-block {
  margin-bottom: 15px;
  border-radius: 5px;
  box-shadow: 0 0 5px 1px #eee;
  .ant-card-head-title {
    img {
      margin-right: 5px;
    }
  }
  .ant-card-extra {
    label {
      margin-right: 10px;
    }
  }
}

.card-block:not(.card-block-normal) {
  .ant-card-head-title, .ant-card-extra {
    padding: 10px 0;
  }
}

.form-group {
  margin-bottom: 15px;
  >.ant-input, >textarea {
    border-radius: 5px;
    border-color: #CFDCE9;
    padding: 6px 11px;
  }
  label {
    margin-bottom: 5px;
    display: inline-block;
    color: #4F687D;
    font-size: 13px;
  }
  .ant-input-affix-wrapper {
    border: 1px solid #CFDCE9;
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding: 6px 11px;
  }
  .ant-select {
    width: 100%;
  }
  .ant-select-selector {
    border-radius: 5px !important;
    border-color: #CFDCE9 !important;
    padding: 2px 11px !important;
    height: auto !important;
  }
}

.form-group-with-search {
  button {
    background: #D9D9E4;
    border-radius: 5px !important;
    padding: 0 9px;
    margin: 2px 0;
  }
  .ant-input-search {
    .ant-input-group {
      border: 1px solid #CFDCE9;
      border-radius: 5px;
      display: flex;
      align-items: center;
      .ant-input-affix-wrapper {
        border: 0;
        width: calc(100% - 35px);
      }
    }
  }
}

.btn-cancel, .btn-save {
  font-weight: 500;
  padding: 8px 15px;
  min-width: 90px;
  border-radius: 6px;
  height: auto;
}

.btn-cancel {
  margin-right: 12px;
  background: rgba(42, 42, 134, .05);
  border-color: rgba(42, 42, 134, .05);
}

.btn-save {
  background: $primary-color-blue;
  color: #fff;
}

.footer-row-btn {
  margin: 15px 0;
}

.ant-divider-horizontal {
  margin: 19px 0;
}