.header-custom {
  display: inline-flex !important;
  align-items: center !important;
}
.icon-action-sort {
  color: brown !important;
}

.block-sort {
  display: flex;
  flex-direction: column;
  margin-left: auto;
}
.field-active {
  color: #2a2a86 !important;
}
.inventory-index:hover {
  cursor: help;
}
