.header-custom {
  display: "inline-flex" !important;
}
.icon-action-sort {
  color: brown !important;
}

.block-sort {
  display: "grid";
  margin: auto 4px;
}
.field-active {
  color: #2a2a86 !important;
}
