.po-form {
  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  input[type="number"] {
    -moz-appearance: textfield;
  }
}

.label {
  font-weight: 500;
  &:after {
    color: #E24343;
    font-size: 14px;
    font-family: SimSun,sans-serif;
    content: "*";
  }
}
