.timeline {
  .ant-timeline-item-head {
    background: none;
    border-color: #27ae60;
    top: -2px;
  }
  .ant-timeline-item-last {
    padding-bottom: 0;
    > .ant-timeline-item-tail {
      display: block;
    }
  }
  .ant-timeline {
    color: #666;
  }
}
.return-right {
  display: flex;
  flex-direction: row-reverse;
}
.text-center {
  align-items: center;
  justify-content: center;
  display: flex;
  margin-left: 10px;
}
